tensorflow[and-cuda]>=2.15.0,<2.16
numpy>=1.24,<2.0
pandas
xarray
zarr
dask[complete]
distributed
fsspec
h5py
matplotlib
scikit-learn
scikit-image
tqdm
tf_keras
netcdf4
h5netcdf
cfgrib
eccodes
scipy
pyproj
# Neural network architecture visualization
pydot
graphviz