tensorflow[and-cuda]>=2.15.0
numpy
pandas
xarray
zarr
dask[complete]
distributed
fsspec
h5py
matplotlib
scikit-learn
tqdm
tf_keras
netcdf4
h5netcdf
cfgrib
eccodes
scipy
pyproj
# Neural network architecture visualization
pydot
graphviz